In [1]:
import numpy as np
import pandas as pd

In [3]:
base_capacity_information = pd.read_csv("./data/base_capacity_information.csv")
base_capacity_information.head()

,Maker,Base_number,Weight(Ton),Height(mm),Outer_max(mm),Outer_min(mm),Inner(mm)
0,EBNER,1,35,2800,1700,900,508
1,EBNER,2,35,2800,1700,900,508
2,EBNER,3,35,2800,1700,900,508
3,EBNER,4,35,2800,1700,900,508
4,EBNER,5,35,2800,1700,900,508

In [6]:
data_df = pd.read_csv("./data/data_df.csv").drop("Unnamed: 0", axis = 1)
data_df.head()

,COIL_NO,PRDSPC_ID,PNSPRC_CD,cycle,WDT_LEN,WGT_WGT,IND_CD,OUD_LEN,STL_CD,EMG_CD,고객사
0,09KA1B77311,SCP1-H-B,AN11,620,309.0,4811,508,1668,10021,1282N,NaN
1,21M12D061111A,50CRV4M-S,AN10,750,248.0,2091,508,1275,10022,1282S,유신정밀공업(주) / (주)화진금속
2,22A122851111A,S55CM-R,AN10,725,410.0,5121,508,1511,10022,1282N,NaN
3,22A122852111A,S55CM-R,AN10,725,410.0,5121,508,1511,10022,1282N,NaN
4,22A122853111A,S55CM-R,AN10,725,210.0,2623,508,1511,10022,1282N,NaN

In [8]:
data_df['WGT_WGT'] = data_df['WGT_WGT']/1000

In [10]:
data_df.to_csv("./data/data_df.csv", sep=",", na_rep = "NaN")